.red-background {
    background-color: rgb(255, 123, 123);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#blue-text {
    color: blue;
    font-size: 36px;
}

.class-font-size {
    font-size: 24px;
}

#green-background {
    background-color: rgb(123, 255, 123);
}